.item-in-cart__count {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  column-gap: 23px;
  margin-top: 17px;
}

@media screen and (max-width: 400px) {
  .item-in-cart__count {
    column-gap: 15px;
  }
}
