.item-in-cart {
  padding: 18px 28px 18px 18px;
  box-sizing: border-box;
  display: grid;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  column-gap: 24px;
  position: relative;
  grid-template-columns: min-content;
}

@media screen and (max-width: 680px) {
  .item-in-cart  {
    column-gap: 10px;
    padding: 10px;
  }
}
