.headphones__list {
  margin: 20px 0 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

@media screen and (max-width: 1200px) {
  .headphones__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .headphones__list {
    grid-template-columns: 1fr;
  }
}
