.footer__link-item_place_row-three-col-two {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

@media screen and (max-width: 680px) {
  .footer__link-item_place_row-three-col-two {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
}
