.cart__list {
  padding: 0;
  margin: 13px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 633px;
  width: 100%;
  row-gap: 20px;
}

@media screen and (max-width: 900px) {
  .cart__list  {
    max-width: 500px;
  }
}

@media screen and (max-width: 680px) {
  .cart__list  {
    max-width: 310px;
  }
}
